# Please see /usr/share/doc/nginx-doc/examples/ for more detailed examples.

server {
  listen                80;
  server_name           {{ inventory_hostname }} {{ inventory_hostname }}.{{ domain }}{% for alias in hostvars.aliases %} {{ alias }} {{ alias }}.{{ domain }}{% endfor %} {{ hostvars.ip_address }};
  location / {
    return 301          https://{{ inventory_hostname }}.{{ domain }}$request_uri;
  }
  location /public {
    root                /usr/share/nginx/www/public;
    autoindex           on;
    try_files           $uri $uri/ =404;
  }
}
