# Please see /usr/share/doc/nginx-doc/examples/ for more detailed examples.

server {
  listen                80;
  server_name           {{ inventory_hostname }} {{ inventory_hostname }}.{{ domain }} {{ domain }}{% for domain_alias in domain_aliases %} {{ inventory_hostname }}.{{ domain_alias }} {{ domain_alias }}{% endfor %} {{ hostvars[inventory_hostname]['ip_address'] }};
  location / {
    return 301          https://$http_host/$request_uri;
  }
  location /public {
    root                /usr/share/nginx/html;
    autoindex           on;
    try_files           $uri $uri/ =404;
  }
}



